<div class="section-layout">
  <slot />
</div>

<style>
  .section-layout {
    width: 750px;
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
    margin: 0px;
  }
</style>
